{% extends 'basic1.html' %}


{% block body %}
{% if msg %}
<script>
 alert(`{{msg}}`);
 window.open('show_restaurant','_self');
  </script>
{% endif %}
<!-- start page content -->
      <div class="page-content-wrapper">
          <div class="page-content">

               <div class="row">
                  <div class="col-md-12">
                      <div class="card card-box">
                          <div class="card-head">
                              <header>Add Restaurant</header>
                              <div class="tools">
                                  <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
                                <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                                <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                              </div>
                          </div>
                          <div class="card-body ">
                              <div class="row p-b-20">
                                  <div class="col-md-6 col-sm-6 col-6">
                                      <div class="btn-group">
                                          <a href="add_restaurant" id="addRow" class="btn btn-info">
                                              Add Restaurant <i class="fa fa-plus"></i>
                                          </a>
                                      </div>
                                  </div>

                              </div>
                              <div class="table-scrollable">
                              <table class="table table-hover table-checkable order-column full-width" id="example4">
                                  <thead>
                                      <tr>
                                        <th class="center"> Name </th>

                                        <th class="center"> Price </th>

                                          <th class="center">Category</th>

                                          <th class="center"> Action </th>


                                      </tr>
                                  </thead>
                                  <tbody>
                                    {% for i in data %}
                <tr class="odd gradeX">

                  <td class="center">{{i.nm}}</td>

                  <td class="center">{{i.price}}</td>
                  <td class="center">{{i.cat}}</td>

                  <td class="center">

                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#tab{{i.id}}">
                       Delete
                     </button>

                     <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#edit{{i.id}}">
                        Edit
                      </button>

                  </td>

                </tr>

{% endfor %}
              </tbody>
                              </table>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- modal start -->
      {% for i in data %}
      <!-- Delete section -->
      <div class="modal fade" id="tab{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="tab{{i.id}}Label" aria-hidden="true">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title btn btn-danger" id="tab{{i.id}}Label">Alert....!</h5>

      </div>
      <div class="modal-body">
      Are you sure you want to delete {{i.nm}}
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <form class="" action="delete_restaurant" method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{i.id}}">
        <input type="submit" name="submit" value="Delete" class="btn btn-danger">
      </form>
      </div>
      </div>
      </div>
      </div>
      <!-- end delete section -->
      <!-- Edit section -->
      <div class="modal fade" id="edit{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="edit{{i.id}}Label" aria-hidden="true">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title btn btn-danger" id="edit{{i.id}}Label">Update....!</h5>

      </div>
      <div class="modal-body">
        <form class=""  method="post">
          {% csrf_token %}
          <input type="hidden" name="id" value="{{i.id}}">
          <input type="text" name="nm" value="{{i.nm}}" style="width:100%; margin:2%;">
          <input type="hidden" name="title" value="{{i.title}}" style="width:100%; margin:2%;">
          <input type="text" name="price" value="{{i.price}}" style="width:100%; margin:2%;">
          <select class="" name="cat" style="width:100%; margin:2%;" >
            <option value="{{i.cat}}">{{i.cat}}</option>
            <option value="Breakfast">Breakfast</option>
            <option value="Beverages">Beverages</option>
            <option value="Starter">Starter</option>
            <option value="nonveg">Non-veg</option>

            <option value="Main Course">Main Course</option>

          </select>
          <br>
          <input type="submit" name="submit" value="Update" class="btn btn-primary" style="width:100%; margin:2%;">
        </form>
      </div>
      <div class="modal-footer">


      </div>
      </div>
      </div>
      </div>
      <!--end edit section  -->
      {% endfor %}
      <!-- modal end -->
      <!-- end page content -->

{% endblock %}
