{% extends 'basic1.html' %}


{% block body %}
{% if msg %}
<script>
 alert(`{{msg}}`);
 window.open('show_contact','_self');
  </script>
{% endif %}
<!-- start page content -->
      <div class="page-content-wrapper">
          <div class="page-content">

               <div class="row">
                  <div class="col-md-12">
                      <div class="card card-box">

                          <div class="card-body ">
                              <div class="row p-b-20">
                                  <div class="col-md-6 col-sm-6 col-6">
                                      <div class="btn-group">
                               <button class="btn btn-primary" name="button">Contact Information</button>
                                      </div>
                                  </div>

                              </div>
                              <div class="table-scrollable">
                              <table class="table table-hover table-checkable order-column full-width" id="example4">
                                  <thead>
                                      <tr>
                                        <th class="center"> Name </th>
                                          <th class="center">E-mail</th>
                                          <th class="center">Number</th>
                                          <th class="center">Subject</th>
                                          <th class="center">Message</th>


                                          <th class="center"> Action </th>


                                      </tr>
                                  </thead>
                                  <tbody>
                                    {% for i in data %}
                <tr class="odd gradeX">

                  <td class="center">{{i.nm}}</td>
                  <td class="center">{{i.em}}</td>
                  <td class="center">{{i.no}}</td>
                  <td class="center">{{i.sub}}</td>
                  <td class="center">{{i.msg}}</td>


                  <td class="center">

                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#tab{{i.id}}">
  Delete
</button>

                  </td>

                </tr>

{% endfor %}
              </tbody>
                              </table>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- modal start -->
      {% for i in data %}
      <div class="modal fade" id="tab{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="tab{{i.id}}Label" aria-hidden="true">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title btn btn-danger" id="tab{{i.id}}Label">Alert....!</h5>

      </div>
      <div class="modal-body">
      Are you sure you want to delete
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <form class=""  method="post">
        {% csrf_token %}
        <input type="hidden" name="id" value="{{i.id}}">
        <input type="submit" name="submit" value="Delete" class="btn btn-danger">
      </form>
      </div>
      </div>
      </div>
      </div>
      {% endfor %}
      <!-- modal end -->
      <!-- end page content -->

{% endblock %}
